# exclude all by default

*

# exceptions from `exclude all` rule

!.yarn/**
!.yarnrc.yml
!package.json
!yarn.lock

!gulpfile.js
!tsconfig.json
!server.js

!src/main/**
!config/**
!types/**

!.yarn/
!.yarn/plugins/
!.yarn/releases/
!src/
!src/main/
!config/
!webpack/
.yarn/cache
.yarn/install-state.gz

!app
!app/**
!public
!public/**
