node_modules/
.nyc_output
.sass-cache
*.css

.idea/
*.iml

*swp
*log
.DS_Store

src/main/public/img/lib/*
src/main/public/js/lib/**/*.js

src/main/public/stylesheets/lib/*

node-rpm-packaging/
mochawesome-report/
npm-debug.log.*

coverage-report
.scannerwork
package-lock.json
.project
.settings/
functional-output/
smoke-output/
mochawesome-report/
acceptance-tests/output

# Yarn v3
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

config/
config/local-development.*