{% macro supportWidget() %}
  <h2 class="heading-medium">{{ t("Help and support") }}</h2>
  <p>
    {{ t("Textphone: 0300 144 2122") }}<br>
    {{ t("Hours: 9am to 5pm, Monday to Friday") }}
  </p>

  <p>
    <a href="https://www.gov.uk/call-charges">{{ t("Find out about call charges") }}</a>
  </p>
{% endmacro %}
