{% set currentPage = 'all-discontinued' %}
{% extends "layout.njk" %}
  {% from "includes/macros/form.njk" import nextButton%}

  {% set title = t('Fees | ' + serviceName) %}
  {% block content %}
    <input type='hidden' id='userRole' value=''/>

    <div class="downloadbtn-container downloadbtn-container-align">
      <div>
        <a href="#mybutton" id="mybutton" class="a-create-link">{{nextButton(t("Download all fees"), t("govuk-button2 black-text"))}}</a>
      </div>
    </div>
<ul class="govuk-tabs__list govuk-!-margin-top-7">
<li class="govuk-tabs__list-item ">
    <a class="govuk-tabs__tab" href="/admin/V2/all-fees">
        {{ t("Live fees") }}
    </a>
</li>
<li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="/admin/V2/all-approvedbutnotlive">
      {{ t("Approved but not live fees") }}
    </a>
</li>
<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
    <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="/admin/V2/all-discontinued">
         {{ t("Discontinued fees") }}
    </a>
</li>
</ul>
<div class="title-with-secondary">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 govuk-!-margin-top-7">{{t("Discontinued fees")}}</h1>
</div>
<div class="fee-register-table-size">

<div class="custom-table-body">
  <table>
    <thead>
    <tr>
    <th class="govuk-table__header table-colsl">Code</th>
      <th class="govuk-table__header table-colxl">Description</th>
      <th class="govuk-table__header table-colsl">Amount</th>
      <th class="govuk-table__header table-colml">Statutory Instrument</th>
      <th class="govuk-table__header table-colxl">Last Amending SI</th>
      <th class="govuk-table__header table-colsl">SI Ref ID</th>
      <th class="govuk-table__header table-colxl">Consolidated/Original Fee Order Name</th>
      <th class="govuk-table__header table-colsl">Service</th>
      <th class="govuk-table__header table-colsl">Jurisdiction1</th>
      <th class="govuk-table__header table-colsl">Jurisdiction2</th>
      <th class="govuk-table__header table-colsl">Event</th>
      <th class="govuk-table__header table-colsl">Range from</th>
      <th class="govuk-table__header table-colsl">Range to</th>
      <th class="govuk-table__header table-colsl">Unit</th>
      <th class="govuk-table__header table-colml">Fee type</th>
      <th class="govuk-table__header table-colml">Amount type</th>
      <th class="govuk-table__header table-colsl">%</th>
      <th class="govuk-table__header table-colsl">Channel</th>
      <th class="govuk-table__header table-colsl">Keyword</th>
      <th class="govuk-table__header table-colsl">Applicant type</th>
      <th class="govuk-table__header table-colsl">Version</th>
      <th class="govuk-table__header table-colxl">Direction</th>
      <th class="govuk-table__header table-colxl">Valid from</th>
      <th class="govuk-table__header table-colxl">Valid to</th>
      <th class="govuk-table__header table-colsl">Status</th>
      <th class="govuk-table__header table-colxl">Memo</th>
      <th class="govuk-table__header table-colsl">Natural Account Code</th>
    </tr>
    </thead>
    <tbody>
    {% for fee in fees %}
    {% set version = getDiscontinuedFeeVersion(fee) %}
    {% if version.status === 'approved' %}
    <tr>
      <td >
        <a href="/admin/V2/fee-details?feeCode={{ fee.code }}&pageType=disconfee&vno={{ version.version }} ">{{ fee.code }}</a>
      </td>
      <td >{{ version.description }}</td>

      {% if version.flat_amount %}
      <td >£{{ version.flat_amount.amount }}</td>
      {% elif version.volume_amount %}
      <td >£{{ version.volume_amount.amount }}</td>
      {% else %}
      <td/>
      {% endif %}
      
      <td >{{ version.statutory_instrument }}</td>
      <td>{{ version.last_amending_si }}</td>
      <td >{{ version.si_ref_id }}</td>
      <td>{{ version.consolidated_fee_order_name }}</td>
      <td >{{ fee.service_type.name }}</td>
      <td >{{ fee.jurisdiction1.name }}</td>
      <td >{{ fee.jurisdiction2.name }}</td>
      <td >{{ fee.event_type.name }}</td>
      {% if fee.min_range %}
      <td >{{ fee.min_range }}</td>
      {% else %}
      <td/>
      {% endif %}
      {% if fee.max_range %}
      <td >{{ fee.max_range }}</td>
      {% else %}
      <td/>
      {% endif %}
      <td >{{ fee.range_unit }}</td>
      <td >{{ fee.fee_type }}</td>
      {% if version.flat_amount %}
      <td >Flat</td>
      <td/>
      {% elif version.volume_amount %}
      <td >Volume</td>
      <td/>
      {% else %}
      <td >Percentage</td>
      <td>{{ version.percentage_amount.percentage }}</td>
      {% endif %}
      <td >{{ fee.channel_type.name }}</td>
      <td >{{ fee.keyword }}</td>
      <td >{{ fee.applicant_type.name }}</td>
      <td >{{ version.version }}</td>
      <td >{{ version.direction }}</td>
       {% if version.valid_from %}
      <td >{{ version.valid_from | date("DD MMMM YYYY") }}</td>
      {% else %}
      <td/>
      {% endif %}
      {% if version.valid_to %}
      <td >{{ version.valid_to | date("DD MMMM YYYY") }}</td>
      {% else %}
      <td/>
      {% endif %}
      <td >{{ version.status }}</td>
      <td >{{ version.memo_line }}</td>
      <td >{{ version.natural_account_code }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
</div>

    <input type="hidden" id="FeesReadable" name="AuthToken" value="{{ feesReadable }}">

  <script src="{{ asset_paths['js'] }}/exportexcel.js"></script>
  <script src="{{ asset_paths['js'] }}/cdnlib.js"></script>
  <script src="{{ asset_paths['js'] }}/filesaver.js"></script>
  {% endblock %}
