{% from "includes/macros/form.njk" import errorSummary, textArea, textInput, radioGroup, submitButton, selectInline, selectReferenceData %}
  {% extends "layout.njk" %}

  {% set title = t('Fee Edited | Fees Register Admin Console') %}
  {% set heading = t('Fee Edited') %}

  {% block content %}

<div class="grid-row">
  <div class="column-full">
    Fee has been edited successfully.
  </div>
  <div class="column-full">

  </div>
  <div class="column-full">
    <a href="/admin/v2/fees/create?action=edit&feeCode={{feeCode}}" class="link-back">{{ t('Edit the fee again') }}</a>
  </div>

  <div class="column-full">
    <a href="/admin/v2/fees/create" class="link-back">{{ t('Create another fee') }}</a>
  </div>

  <div class="column-full">
    <a href="/admin/welcome" class="link-back">{{ t('Return to welcome page') }}</a>
  </div>

</div>

  {% endblock %}
