{% from "includes/macros/form.njk" import errorSummary, textArea, textInput, radioGroup, submitButton, selectInline, selectReferenceData %}
  {% extends "layout.njk" %}

  {% set title = t('Fee Version Created | ' + serviceName) %}
  {% set heading = t('Fee Version Created') %}

  {% block content %}
<input type='hidden' id='userRole' value='{{ 'Approver' if isApprover(user.allInfo.roles) else 'Editor' }}'/>
<div class="grid-row">
  <div class="column-full">
    Fee version has been created successfully.
  </div>
  <div class="column-full">

  </div>

  <div class="column-full">
    <a href="/admin/v2/all-fees" class="link-back">{{ t('Return to welcome page') }}</a>
  </div>

</div>

  {% endblock %}
