{% set currentPage = 'create-edit-fee' %}

{% from "includes/macros/form.njk" import csrfProtection,
errorSummary,
textArea,
textInput,
radioGroup,
submitButton,
selectInline,
selectReferenceData %}
{% extends "layout.njk" %}

{% if edit %}
  {% set thisPageHeading = 'Edit Fee' %}
{% else %}
  {% set thisPageHeading = 'Create a new fee' %}
{% endif %}

{% set title = t(thisPageHeading + ' | ' + serviceName) %}
{% set heading = t(thisPageHeading) %}

{% block content %}
  <div class="grid-row">
    <div class="column-full">
      <form method="post" action="create">
        {{ csrfProtection(csrfToken) }}
        {# <table id="create-fee-form-table">
        <tr> #}
        {% if edit %}
          {# <td> #}
          <div class="form-group">
            <label class="form-label-bold">Fee Code</label>
            <p>{{ form.valueFor('code') }}</p>
          </div>
          <input type="hidden" name="code" id="code" value="{{ form.valueFor('code') }}">
          {# </td> #}
        {% endif %}
        {# <td> #}
        {{ textArea(t('Reason For Update*'), 'reasonForUpdate', form, rows=2) }}

        {{ textArea(t('Description*'), 'description', form, rows=4) }}

        {{ textInput(t('Statutory Instrument'), 'statutoryInstrument', form, style="width:400px;") }}

        {{ textInput(t('SI REF ID'), 'siRefId', form, style="width:150px;") }}

        {{ textArea(t('Fee Order Name'), 'feeOrderName', form, rows=2) }}

        <div class="form-group ">
          <label class="form-label-bold">Service*</label>
          {% set count = 1 %}
          {% for serviceName in referenceData.serviceTypes %}
            {# <div class = "multiple-choice"> #}
            {% if form.valueFor('service') == serviceName.name %}
              <input type="radio" id="serviceName.name" name="service" value="{{serviceName.name}}" checked="checked">
              {%else%}
              <input type="radio" id="serviceName.name" name="service" value="{{serviceName.name}}">
              {%endif%}
              <label style="fload:left;">{{serviceName.name}}</label>
              {% set count = count + 1 %}
              {% if count == 4 %}
                <br>
                {% set count = 1 %}
                {% endif%}

                {# </div> #}
              {% endfor %}
            </div>

            {{ selectReferenceData ('jurisdiction1', referenceData.jurisdictions1, form, 'Jurisdiction 1*') }}

            {{ selectReferenceData ('jurisdiction2', referenceData.jurisdictions2, form, 'Jurisdiction 2*') }}

            {{ radioGroup(form = form, checked=false, name = 'type', label = t('Fee Type'), options = [
            { label: t('Fixed'), value: 'fixed' },
            { label: t('Ranged'), value: 'ranged' }
            ]) }}

            {{ radioGroup(form = form, name = 'amountType', disabled = false, label = t('Amount Type'), options = [
            { label: t('Flat'), value: 'flat' },
            { label: t('Percentage'), value: 'percentage' },
            { label: t('Volume'), value: 'volume' }
            ]) }}

            {%if not isPercentage%}
              {{ textInput(t('Amount (£)*'), 'amount', form) }}
              {%endif%}
              {{ selectReferenceData ('event', referenceData.eventTypes, form, 'Event*') }}

              {{ selectReferenceData ('channel', referenceData.channelTypes, form, 'Channel*') }}

              <p>{{ textInput(t('Keyword'), 'keyword', form) }}</p>
              <p id="keyword-error" hidden="true">
                <span class="form-group-error form-label-bold">
                Keyword already in use
              </span>
              </p>

              {{ selectReferenceData ('applicantType', referenceData.applicantTypes, form, 'Applicant type*') }}

              {{ selectReferenceData ('direction', referenceData.directionTypes, form, 'Direction*') }}

              {# </td>
          <td> #}
              {{ textInput(t('Memo Line'), 'memoLine', form) }}

              {% set fromDateError = form.errorFor('fromDate') %}
              <div class="form-group {% if fromDateError %} form-group-error {% endif %}">
                <label class="form-label-bold" for="fromDate" id="fromDate[label]">From Date*</label>
                <input type="date" id="fromDate"
                     class="form-control {% if fromDateError %} form-control-error {% endif %}"
                     name="fromDate"
                     value="{{ form.valueFor('fromDate') }}"/>
              </div>

              <div class="form-group">
                <label class="form-label-bold" for="toDate" id="toDate[label]">To Date</label>
                <input type="date" class="form-control"
                     id="toDate"
                     name="toDate"
                     value="{{ form.valueFor('toDate') }}"/>
              </div>
              {# </td>
          <td> #}
              {{ textInput(t('Natural Account Code'), 'naturalAccountCode', form) }}
              {# </td>
        </tr>

        <tr>
          <td colspan="3"> #}

              {# </td>
        </tr>

        <tr>
          <td> #}

              {# </td>

          <td> #}

              {# </td>
        </tr> #}

              {% set isRanged = form.valueFor('type') == 'ranged' %}

              {# <tr>
          <td> #}

              {# </td>

          <td> #}
              {{ textInput(t('From more than*'), 'fromRange', form, disabled = not isRanged) }}
              {{ textInput(t('Up to'), 'toRange', form, disabled = not isRanged) }}
              {# </td>

          <td> #}
              {{ selectReferenceData ('rangeUnit', referenceData.rangeUnits, form, 'Range Units*', disabled = not
            isRanged)
            }}
              {# </td>

        </tr> #}

              {% set isPercentage = form.valueFor('amountType') == 'percentage' %}

              {# <tr>
          <td rowspan="2"> #}

              {# </td>

          <td> #}
              {# </td>

        </tr>

        <tr>
          <td> #}
              {{ textInput(t('Percentage (%)*'), 'percentage', form, disabled = not isPercentage) }}
              {# </td>
        </tr>

        <tr>
          <td colspan="2"> #}
              {# </td>
        </tr>

        <tr>
          <td colspan="2"> #}
              {# </td>
        </tr>

        <tr>
          <td colspan="2"> #}
              {# </td>
        </tr>


        <tr>
          <td colspan="2"> #}
              {# </td>
        </tr>

        <tr>
          <td colspan="2"> #}
              {# </td>
        </tr>


        <tr>
          <td colspan="2"> #}
              {# </td>
        </tr>

        <tr>
          <td colspan="2"> #}
              {# </td>
        </tr>
        <tr rowspan="2">
            <td colspan="2"> #}

              {# </td>
        </tr>
        <tr>

          <td>  #}

              {# </td>

          <td>  #}

              {# </td>

          <td>  #}

              {# </td>

        </tr>

      </table> #}

              <input type="hidden" name="edit" id="edit" value="{{edit}}">

              {{ submitButton(t('Save draft')) }}
            </form>

            <a href="/admin/welcome" class="link-back">{{ t('Cancel') }}</a>
          </div>
        </div>

      {% endblock %}