{% set currentPage = 'create-edit-fee' %}

{% from "includes/macros/form.njk" import csrfProtection,
errorSummary,
textArea,
textInput,
radioGroup,
submitButton,
selectInline,
selectReferenceData %}
{% extends "layout.njk" %}

{% if edit %}
  {% set thisPageHeading = 'Edit Fee' %}
{% else %}
  {% set thisPageHeading = 'Create a new fee' %}
{% endif %}

{% set title = t(thisPageHeading + ' | ' + serviceName) %}
{% set heading = t(thisPageHeading) %}

{% block content %}
  <div class="grid-row">
    <div class="column-full">
      <form method="post" action="create">
        {{ csrfProtection(csrfToken) }}
        {% if edit %}
          <div class="form-group">
            <label class="form-label-bold">Fee Code</label>
            <p>{{ form.valueFor('code') }}</p>
          </div>
          <input type="hidden" name="code" id="code" value="{{ form.valueFor('code') }}">
        {% endif %}

        {{ textArea(t('Reason For Update'), 'reasonForUpdate', form, rows=2) }}

        {{ textArea(t('Description'), 'description', form, rows=4) }}

        {{ textInput(t('Statutory Instrument'), 'statutoryInstrument', form, style="width:400px;") }}

        {{ textInput(t('SI REF ID'), 'siRefId', form, style="width:150px;") }}

        {{ textArea(t('Fee Order Name'), 'feeOrderName', form, rows=2) }}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="form-label-bold">Service</label>
            <div id='serviceParent'>
              {% for serviceName in referenceData.serviceTypes %}
                <div id="serviceChild" class = "form-group">
                  <div class = "multiple-choice">
                    {% if form.valueFor('service') == serviceName.name %}
                      <input type="radio" id="serviceName.name" name="service" value="{{serviceName.name}}" checked="checked">
                    {%else%}
                      <input type="radio" id="serviceName.name" name="service" value="{{serviceName.name}}">
                    {%endif%}
                    <label style="fload:left;">{{serviceName.name}}</label>
                  </div> 
                </div>
              {% endfor %}
            </div>
          </fieldset>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <label class="form-label-bold">Jurisdiction 1</label>
          {% for jurisdiction1 in referenceData.jurisdictions1 %}
            <div id="verticalRadio" class = "form-group">
                <div class = "multiple-choice">
                {% if form.valueFor('jurisdiction1') == jurisdiction1.name %}
                  <input type="radio" id="jurisdiction1.name" name="jurisdiction1" value="{{jurisdiction1.name}}" checked="checked">
                {%else%}
                  <input type="radio" id="jurisdiction1.name" name="jurisdiction1" value="{{jurisdiction1.name}}">
                {%endif%}
                <label style="fload:left;">{{jurisdiction1.name}}</label>
              </div> 
            </div>
          {% endfor %}
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <label class="form-label-bold">Jurisdiction 2</label>
          <div id='serviceParent'>
            {% for jurisdiction2 in referenceData.jurisdictions2 %}
              <div id="serviceChild" class = "form-group">
                <div class = "multiple-choice">
                  {% if form.valueFor('jurisdiction2') == jurisdiction2.name %}
                    <input type="radio" id="jurisdiction2.name" name="jurisdiction2" value="{{jurisdiction2.name}}" checked="checked">
                  {%else%}
                    <input type="radio" id="jurisdiction2.name" name="jurisdiction2" value="{{jurisdiction2.name}}">
                  {%endif%}
                  <label style="fload:left;">{{jurisdiction2.name}}</label>
                </div> 
              </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div id="fee-type">
            {{ radioGroup(form = form, checked=false, name = 'type', label = t('Fee Type'), options = [
              { label: t('Fixed'), value: 'fixed', onclick: "disableRangedFees"},
              { label: t('Ranged'), value: 'ranged', onclick: "enableRangedFees"}
            ]) }}
          </div>
          <div id="ranged-container">
            <div id="RangesUnit">
              {{ radioGroup(form = form, checked=false, name = 'rangeUnit', label = t('Ranged units'), options = [
                { label: t('Pounds (£)'), value: 'pound'},
                { label: t('Volume'), value: 'volume'}
              ]) }}
            </div>
            <div id="RangedUnitValue">
              <p>{{ textInput(t('From'), 'fromRange', form) }}</p>
              <p>{{ textInput(t('Up to (optional)'), 'toRange', form) }}</p>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <label class="form-label-bold">Amount Type</label>
            <div id="verticalRadio" class = "form-group">
              <div class = "multiple-choice">
                {% if form.valueFor('amounType') == 'flat' %}
                  <input type="radio" id="flat" name="amounType" value="flat" checked="checked" onclick="showFlatAmountSection()">
                {%else%}
                  <input type="radio" id="flat" name="amounType" value="flat" onclick="showFlatAmountSection()">
                {%endif%}
                <label style="fload:left;">Flat</label>
              </div> 
            </div>
              <div id="flatAmount" class="mid-box {{ 'disply-section' if form.valueFor('amounType') == 'flat'}}" >
                <label class="form-label-bold">Amount</label>
                <div class = "form-group">
                  <div class="input-icon">
                    <input type="text" name="amount" id="amount" class="form-control  ">
                    <i>£</i>
                  </div>
                </div>
              </div>

            <div id="verticalRadio" class = "form-group">
              <div class = "multiple-choice">
                {% if form.valueFor('amounType') == 'percentage' %}
                  <input type="radio" id="percentage" name="amounType" value="percentage" checked="checked" onclick="showPercentageSection()">
                {%else%}
                  <input type="radio" id="percentage" name="amounType" value="percentage" onclick="showPercentageSection()">
                {%endif%}
                <label style="fload:left;">Percentage</label>
              </div> 
            </div>
           <div id="percentageAmount" class="small-box {{ 'disply-section' if form.valueFor('amounType') == 'percentage'}}">
           {{ textInput('', 'percentage', form) }}
            </div>
            <div id="verticalRadio" class = "form-group">
              <div class = "multiple-choice">
                {% if form.valueFor('amounType') == 'volume' %}
                  <input type="radio" id="volume" name="amounType" value="volume" checked="checked" onclick="showVolumeAmountSection()">
                {%else%}
                  <input type="radio" id="volume" name="amounType" value="volume" onclick="showVolumeAmountSection()">
                {%endif%}
                <label style="fload:left;">Volume</label>
              </div> 
            </div>
            <div id="volumeAmount" class="mid-box {{ 'disply-section' if form.valueFor('amounType') == 'volume'}}" >
               <label class="form-label-bold">Amount</label>
                <div class = "form-group">
                  <div class="input-icon">
                    <input type="text" name="volumeAmount" id="volumeAmount" class="form-control">
                    <i>£</i>
                  </div>
                </div>
            </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <label class="form-label-bold">Event</label>
          <div id='serviceParent'>
            {% for event in referenceData.eventTypes %}
              <div id="serviceChild" class = "form-group">
                <div class = "multiple-choice">
                  {% if form.valueFor('event') == event.name %}
                    <input type="radio" id="event.name" name="event" value="{{event.name}}" checked="checked">
                  {%else%}
                    <input type="radio" id="event.name" name="event" value="{{event.name}}">
                  {%endif%}
                  <label style="fload:left;">{{event.name}}</label>
                </div> 
              </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <label class="form-label-bold">Channel</label>
          {% for  channel in referenceData.channelTypes %}
            <div id="verticalRadio" class = "form-group">
              <div class = "multiple-choice">
                {% if form.valueFor('channel') == channel.name %}
                  <input type="radio" id="channel.name" name="channel" value="{{channel.name}}" checked="checked">
                {%else%}
                  <input type="radio" id="channel.name" name="channel" value="{{channel.name}}">
                {%endif%}
                <label style="fload:left;">{{channel.name}}</label>
              </div> 
            </div>
          {% endfor %}
        </fieldset>
      </div>

        <p>{{ textInput(t('Keyword'), 'keyword', form) }}</p>
        <p id="keyword-error" hidden="true">
          <span class="form-group-error form-label-bold">
            Keyword already in use
          </span>
        </p>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <label class="form-label-bold">Applicant</label>
          {% for applicant in referenceData.applicantTypes %}
            <div id="verticalRadio" class = "form-group">
              <div class = "multiple-choice">
                {% if form.valueFor('applicantType') == applicant.name %}
                  <input type="radio" id="applicant.name" name="applicantType" value="{{applicant.name}}" checked="checked">
                {%else%}
                  <input type="radio" id="applicant.name" name="applicantType" value="{{applicant.name}}">
                {%endif%}
                <label style="fload:left;">{{applicant.name}}</label>
              </div> 
            </div>
          {% endfor %}
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <label class="form-label-bold">Direction</label>
          <div id='serviceParent'>
            {% for direction in referenceData.directionTypes %}
            <div id="serviceChild" class = "form-group">
              <div class = "multiple-choice">
                {% if form.valueFor('direction') == direction.name %}
                  <input type="radio" id="direction.name" name="direction" value="{{direction.name}}" checked="checked">
                {%else%}
                  <input type="radio" id="direction.name" name="direction" value="{{direction.name}}">
                {%endif%}
                <label style="fload:left;">{{direction.name}}</label>
              </div> 
            </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>
        {{ textInput(t('Memo Line'), 'memoLine', form) }}

        {% set fromDateError = form.errorFor('fromDate') %}
        <div class="form-group date-field--width {% if fromDateError %} form-group-error {% endif %}">
          <label class="form-label-bold" for="fromDate" id="fromDate[label]">From Dates</label>
          <input type="date" id="fromDate"
          class="form-control {% if fromDateError %} form-control-error {% endif %}"
          name="fromDate"
          value="{{ form.valueFor('fromDate') }}"/>
        </div>

        <div class="form-group date-field--width">
          <label class="form-label-bold" for="toDate" id="toDate[label]">To Date</label>
          <input type="date" class="form-control"
          id="toDate"
          name="toDate"
          value="{{ form.valueFor('toDate') }}"/>
        </div>

        {{ textInput(t('Natural Account Code'), 'naturalAccountCode', form) }}

        <input type="hidden" name="edit" id="edit" value="{{edit}}">

        {{ submitButton(t('Save draft')) }}
      </form>

      <a href="/admin/welcome" class="link-back">{{ t('Cancel') }}</a>
  </div>
  </div>

{% endblock %}
