{% extends "layout.njk" %}
{% from "includes/macros/form.njk" import nextButton%}

{% set title = t('Your Drafts | ' + serviceName) %}
{% block content %}
<input type='hidden' id='userRole' value='{{ 'Approver' if isApprover(user.allInfo.roles) else 'Editor' }}'/>
  <h1 class="govuk-heading-xl" id="yourDraftsHeading">{{t("Your Drafts")}}</h1>
	<ul class="govuk-tabs__list govuk-!-margin-top-8">

		<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
			<a class="govuk-tabs__tab govuk-tabs__tab--selected" href="/admin/V2/draft-fees">
				{{ t("Drafts") }}
			</a>
		</li>

		<li class="govuk-tabs__list-item">
			<a class="govuk-tabs__tab" href="/admin/V2/draft-rejectedbyapprover">
				{{ t("Rejected by approver") }}
			</a>
		</li>
		<li class="govuk-tabs__list-item">
			<a class="govuk-tabs__tab" href="/admin/V2/draft-awaitingapproval">
				{{ t("Awaiting approval") }}
			</a>
		</li>
	</ul>

	<div class="govuk-tabs__panel" id="past-day">
		<div class="container">
			<div class="row">

				<div class="title-with-secondary">
					<h2 class="heading">{{t("Drafts")}}</h2>
					<div class="title-with-secondary live-fee-al"></div>
					<a href="./fees/create">{{nextButton(t("Create a new fee"), t("govuk-button2 black-text"))}}</a>
				</div>

				{% if (fees | length) > 0 %}
					<table class="govuk-table">
						<thead class="govuk-table__head font-16">
							<tr class="govuk-table__row">
								<th class="govuk-table__header draft-col1" scope="col" >Code</th>
								<th class="govuk-table__header draft-col2" scope="col">Amount</th>
								<th class="govuk-table__header draft-col3" scope="col">Service</th>
								<th class="govuk-table__header draft-col4" scope="col">Description</th>
								<th class="govuk-table__header draft-col5" scope="col">Statutory Instrument</th>
								<th class="govuk-table__header draft-col5" scope="col">Valid from</th>
								<th class="govuk-table__header draft-col6" scope="col">Link</th>
							</tr>
						</thead>
						<tbody>
						{% set isApprovedDraft = false %}
							{% for fee in fees %}
								{% if fee.current_version == null %}
									{% set version = fee.fee_versions[0] %}
								{% else %}
								  {% set version = fee.current_version %}
							  {% endif %}



								{% if version.approvedBy == null or version.approvedBy == '' %}
								   {% set isApprovedDraft = true %}
									<tr>
										<td data-label="Code" class="padding10 whitespace-inherit">{{ fee.code }}</td>
										{% if version.flat_amount %}
											{% if version.flat_amount.amount %}
											  <td  class="padding20 whitespace-inherit" >£{{ version.flat_amount.amount}}</td>
											{% else %}
											  <td  class="padding20 whitespace-inherit" ></td>
											{% endif %}
								   {% endif %}

										{% if version.volume_amount %}
											<td class="padding20 whitespace-inherit">£{{ version.volume_amount.amount.toFixed(2).toString()}}</td>
										{% endif %}

										{% if version.percentage_amount %}
											  <td class="padding20 whitespace-inherit">{{ version.percentage_amount.percentage }}%</td>
									  {% endif %}

										<td data-label="Service" class="padding10 whitespace-inherit">{{ fee.service_type.name }}</td>

										<td data-label="Description" class="padding10 whitespace-inherit">{{ version.description }}</td>

										<td data-label="statutory_instrument" class="padding10 whitespace-inherit">{{ version.statutory_instrument }}</td>

										{% if version.valid_from %}
											<td class="padding10 alignleft whitespace-inherit" >{{ version.valid_from | date("DD MMMM YYYY") }}</td>
										{% else %}
											<td/>
										{% endif %}

										<td >
											{% if user %}
												<a href="/admin/V2/fee-details?draft=true&feeCode={{ fee.code }}&pageType=draftfee&vno={{version.version}}" aria-label="View {{ fee.code }}" style="white-space: nowrap;">View {{  fee.code }}</a>
											{% else  %}
												<a href="/admin/V2/fee-details?draft=true&feeCode={{ fee.code }}&pageType=draftfee" aria-label="View {{ fee.code }}" style="white-space: nowrap;">View {{ fee.code }}</a>
											{% endif %}
										</td>
									</tr>
							    {% endif %}

								{% endfor %}
								{% if isApprovedDraft == false %}
								<tr>
									<td colspan='7'>
									No draft fees.
									</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					{% else %}
						<p>No draft fees.</p>
					{% endif %}

				</div>
			</div>

		{% endblock %}
