{% extends "layout.njk" %}
  {% from "includes/macros/form.njk" import nextButton%}

  {% set title = t('Fees | ' + serviceName) %}
  {% block content %}
<ul class="govuk-tabs__list govuk-!-margin-top-8">
<li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="./draft-fees">
        {{ t("Draft") }}
    </a>
</li>
<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
    <a class="govuk-tabs__tab govuk-tabs__tab--selected" style="text-decoration: underline;">
      {{ t("Rejected by approver") }}
    </a>
</li>
<li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="./draft-awaitingapproval" style="text-decoration: underline;">
         {{ t("Awaiting approval") }}
    </a>
</li>
</ul>
<div class="govuk-tabs__panel" id="past-day">
 
 <div class="title-with-secondary">
  <h1 class="heading">{{t("Rejected by approver")}}</h1>
</div>
{% if (fees | length) > 0 %}
     <table class="govuk-table">
         <thead class="govuk-table__head font-16">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" style="width: 60px;">Code</th>
                <th class="govuk-table__header" scope="col" style="width:84px; text-align: right; padding-right: 20px;">Amount</th>
                <th class="govuk-table__header" scope="col" style="width: 120px;">Service</th>
                <th class="govuk-table__header" scope="col" style="width: 200px;">Description</th>
                <th class="govuk-table__header" scope="col" style="width: 100px;">Statutory Instrument</th>
                <th class="govuk-table__header" scope="col" style="width:100px;">Valid from</th>
                <th class="govuk-table__header" scope="col" style="width:40px;"></th>
            </tr>
         </thead>
          <tbody>
           {% for fee in fees %}
           {% set version = getLiveFeeVersion(fee) %}  
           <tr>
                <td data-label="Code" class="padding10 whitespace-inherit">{{ fee.code }}</td>
                {% if version.flat_amount %}
                <td class="padding20 whitespace-inherit" >£{{ version.flat_amount.amount.toFixed(2).toString()}}</td>
                {% elif version.volume_amount %}
                <td class="padding20 whitespace-inherit">£{{ version.volume_amount.amount.toFixed(2).toString()}}</td>
                {% else %}
                <td class="padding20 whitespace-inherit">{{ version.percentage_amount.percentage }}%</td>
                {% endif %}
                                    
                <td data-label="Service" class="padding10 whitespace-inherit">{{ fee.service_type.name }}</td>

                <td data-label="Jurisdiction 2" class="padding10 whitespace-inherit">{{ version.description }}</td>
                                    
                <td data-label="Description" class="padding10 whitespace-inherit">{{ version.statutory_instrument }}</td>

                {% if version.valid_from %}
                <td class="padding20 alignleft whitespace-inherit">{{ version.valid_from | date("DD MMMM YYYY") }}</td>
                {% else %}
                    <td/>
                {% endif %}

                 <td >
                {% if user %}
                    <a href="/admin/V2/fee-details?feeCode={{ fee.code }}&pageType=livefee">View</a>
                {% else  %}
                    <a href="/fees/{{fee.code}}">View</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}            
         </tbody>
    </table>
 {% else %}
  <p>No rejected fees.</p>
  {% endif %}           
</div>
  {% endblock %}
