{% extends "layout.njk" %}

{% set title = t('Fee | ' + serviceName) %}
{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<nav class="hmcts-sub-navigation" aria-label="Sub navigation">
				<div class="jui-width-container">
					<ul class="hmcts-sub-navigation__list">
						<li class="hmcts-sub-navigation__item">
							<a class="hmcts-sub-navigation__link" href="/admin/V2/fee-details?feeCode={{ feeDto.code }}&pageType={{ pageType }}">
              Fee details
            </a>
						</li>
						<li class="hmcts-sub-navigation__item">
							<a class="hmcts-sub-navigation__link" aria-current="page" href="/admin/v2/fee/versions/{{ feeDto.code }}">
              Fee versions
            </a>
						</li>
					</ul>
				</div>
			</nav>
			<h1 class="heading-xlarge margin-top-0">
				{{t('Fee versions')}}
			</h1>
			<br>
			{% for version in feeDto.fee_versions | reverse %}
				<details class="govuk-details">
					<summary class="govuk-details__summary">
						<span class="govuk-details__summary-text">
                Version {{ version.version }}
						</span>
					</summary>
					<div class="govuk-details__text">
						<dl class="govuk-check-your-answers govuk-check-your-answers--short">
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if version2.version == version.version-1%}
									<h2 class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-top-5">Updated details</h2>
								{% endif %}
							{% endfor %}
							<br>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Reason for fee update:</dt>
								<dd class="version-details-dd">{{ version.reason_for_update}}</dd>
								<dd class="govuk-check-your-answers__change" style="width: 320px; padding-left: 15px; text-align: left"></dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Version:</dt>
								<dd class="version-details-dd">{{ version.version }}</dd>
								{% for version2 in feeDto.fee_versions | reverse %}
									{% if version2.version == version.version-1 and version.version!= version2.version%}
										<dd class="version-details-dd">Previously: {{ version2.version }}</dd>
									{% endif %}
								{% endfor %}
							</div>
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if version2.version == version.version-1 and version.description != version2.description%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Description:</dt>
										<dd class="version-details-dd">{{ version.description }}</dd>
										<dd class="version-details-dd">Previously: {{ version2.description }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if version2.version == version.version-1 and version.flat_amount.amount != version2.flat_amount.amount%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Amount:</dt>
										<dd class="version-details-dd">{{ version.flat_amount.amount }}</dd>
										<dd class="version-details-dd">Previously: {{ version2.flat_amount.amount }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if version2.version == version.version-1 and version.si_ref_id != version2.si_ref_id%}
									<div class="cgovuk-check-your-answers__contents">
										<dt class="version-details-dt">SI Ref ID:</dt>
										<dd class="version-details-dd">{{ version.si_ref_id }}</dd>
										<dd class="version-details-dd">Previously: {{ version2.si_ref_id }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if version2.version == version.version-1 and version.statutory_instrument != version2.statutory_instrument%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Statutory Instrument:</dt>
										<dd class="version-details-dd">{{ version.statutory_instrument }}</dd>
										<dd class="version-details-dd">Previously: {{ version2.statutory_instrument }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if version2.version == version.version-1 and version.fee_order_name != version2.fee_order_name%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Fee Order Name:</dt>
										<dd class="version-details-dd">{{ version.fee_order_name }}</dd>
										<dd class="version-details-dd">Previously: {{ version2.fee_order_name }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if version2.version == version.version-1 and version.valid_from != version2.valid_from%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Valid from:</dt>
										<dd class="version-details-dd">{{ version.valid_from }}</dd>
										<dd class="version-details-dd">Previously: {{ version2.valid_from }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if version2.version == version.version-1 and version.valid_to!= version2.valid_to%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Valid to:</dt>
										<dd class="version-details-dd">{{ version.valid_to }}</dd>
										<dd class="version-details-dd">Previously: {{ version2.valid_to }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if version2.version == version.version-1 and version.natural_account_code!= version2.natural_account_code%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Natural account code:</dt>
										<dd class="version-details-dd">{{ version.natural_account_code}}</dd>
										<dd class="version-details-dd">Previously: {{ version2.natural_account_code }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if version2.version == version.version-1 and version.memo_line != version2.memo_line%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Memo:</dt>
										<dd class="version-details-dd">{{ version.memo_line }}</dd>
										<dd class="version-details-dd">Previously: {{ version2.memo_line }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if version2.version == version.version-1 and version.status != version2.status%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Status:</dt>
										<dd class="version-details-dd">{{ version.status }}</dd>
										<dd class="version-details-dd">Previously: {{ version2.status }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if version2.version == version.version-1 and version.direction != version2.direction%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Direction:</dt>
										<dd class="version-details-dd">{{ version.direction }}</dd>
										<dd class="version-details-dd">Previously: {{ version2.direction }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Editor:</dt>
								<dd class="version-details-dd">{{ version.author }}</dd>
								<dd class="govuk-check-your-answers__change" style="width: 320px; padding-left: 15px; text-align: left"></dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Approver:</dt>
								<dd class="version-details-dd">{{ version.approvedBy }}</dd>
								<dd class="govuk-check-your-answers__change" style="width: 320px; padding-left: 15px; text-align: left"></dd>
							</div>
						</dl>
						{% for version2 in feeDto.fee_versions | reverse %}
							{% if version2.version == version.version-1%}
								<h2 class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-top-9">Existing details</h2>
							{% endif %}
						{% endfor %}
						<dl>
							<br>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Code:</dt>
								<dd class="version-details-dd-single">{{ feeDto.code }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Service:</dt>
								<dd class="version-details-dd-single">{{ feeDto.service_type.name }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Event:</dt>
								<dd class="version-details-dd-single">{{ feeDto.event_type.name }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Jurisdiction1:</dt>
								<dd class="version-details-dd-single">{{ feeDto.jurisdiction1.name }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Jurisdiction2:</dt>
								<dd class="version-details-dd-single">{{ feeDto.jurisdiction2.name }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Fee type</dt>
								<dd class="version-details-dd-single">{{ feeDto.fee_type }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Amount type:</dt>
								<dd class="version-details-dd-single">{{ version.amount_type }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Percentage:</dt>
								<dd class="version-details-dd-single">{{ version.percentage_amount.percentage }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Range from:</dt>
								<dd class="version-details-dd-single">{{ feeDto.min_range }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Range to:</dt>
								<dd class="version-details-dd-single">{{ feeDto.max_range }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Range units:</dt>
								<dd class="version-details-dd-single">{{ feeDto.range_unit }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Applicant type:</dt>
								<dd class="version-details-dd-single">{{ feeDto.applicant_type.name }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Keyword:</dt>
								<dd class="version-details-dd-single">{{ feeDto.keyword }}</dd>
							</div>
							<div class="govuk-check-your-answers__contents">
								<dt class="version-details-dt">Channel:</dt>
								<dd class="version-details-dd-single">{{ feeDto.channel }}</dd>
							</div>
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if (version2.version == version.version-1 and version2.description == version.description) or (version.version==1 and version2.version==1)%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Description:</dt>
										<dd class="version-details-dd-single">{{ version.description }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if (version2.version == version.version-1 and version2.flat_amount.amount == version.flat_amount.amount) or (version.version==1 and version2.version==1)%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Amount:</dt>
										<dd class="version-details-dd-single">{{ version.flat_amount.amount }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if (version2.version == version.version-1 and version2.si_ref_id == version.si_ref_id) or (version.version==1 and version2.version==1)%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">SI Ref ID:</dt>
										<dd class="version-details-dd-single">{{ version.si_ref_id }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if (version2.version == version.version-1 and version2.statutory_instrument == version.statutory_instrument) or (version.version==1 and version2.version==1)%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Statutory Instrument:</dt>
										<dd class="version-details-dd-single">{{ version.statutory_instrument }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if (version2.version == version.version-1 and version2.fee_order_name == version.fee_order_name) or (version.version==1 and version2.version==1)%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Fee Order Name:</dt>
										<dd class="version-details-dd-single">{{ version.fee_order_name }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if (version2.version == version.version-1 and version2.valid_from == version.valid_from) or (version.version==1 and version2.version==1)%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Valid From:</dt>
										<dd class="version-details-dd-single">{{ version.valid_from }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if (version2.version == version.version-1 and version2.valid_to == version.valid_to) or (version.version==1 and version2.version==1)%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Valid To:</dt>
										<dd class="version-details-dd-single">{{ version.valid_to }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if (version2.version == version.version-1 and version2.natural_account_code == version.natural_account_code) or (version.version==1 and version2.version==1)%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Natural Account Code:</dt>
										<dd class="version-details-dd-single">{{ version.natural_account_code }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if (version2.version == version.version-1 and version2.memo_line == version.memo_line) or (version.version==1 and version2.version==1)%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Memo Line:</dt>
										<dd class="version-details-dd-single">{{ version.memo_line }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if (version2.version == version.version-1 and version2.status == version.status) or (version.version==1 and version2.version==1)%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Status:</dt>
										<dd class="version-details-dd-single">{{ version.status }}</dd>
									</div>
								{% endif %}
							{% endfor %}
							{% for version2 in feeDto.fee_versions | reverse %}
								{% if (version2.version == version.version-1 and version2.direction == version.direction) or (version.version==1 and version2.version==1)%}
									<div class="govuk-check-your-answers__contents">
										<dt class="version-details-dt">Direction:</dt>
										<dd class="version-details-dd-single">{{ version.direction }}</dd>
									</div>
								{% endif %}
							{% endfor %}
						</dl>
					</div>
				</details>
			{% endfor %}
		</div>
	</div>
{% endblock %}