{% extends "layout.njk" %}
{% block content %}
	<div class="hmcts-header__container">
		<br>
		<main role="main" class="govuk-main-wrapper">
			<div class="govuk-panel govuk-panel--confirmation">
				<h2 class="govuk-panel__title">
                    {{ feeCode }} has been rejected
                </h2>
				<br>
				<div class="govuk-panel__body">
                    Fee moved back to drafts for the editor to review.
                    <br>
					<br>
					<strong></strong>
				</div>
			</div>
			<br><br>
			<h2 class="govuk-heading-m">What happens next</h2>
			<p class="govuk-body">The editor will need to review the draft fee before submitting it to you for approval again.</p>

			<a href="/admin/V2/pending-approval" role="button" class="govuk-button2">
                 View fees awaiting approval
             </a>
		</main>
	</div>
{% endblock %}