{% from "includes/macros/form.njk" import csrfProtection, submitButton %}
  {% extends "layout.njk" %}

  {% set title = t('CSV import view | ' + serviceName) %}
  {% set heading = t('CSV import view') %}
  {% set xLargeTable = t('custom') %}
  {% block content %}

<div class="custom-grid-row">
  <div class="column-quarter">
    <form action="bulkfeesupload" method="post">
      {{ csrfProtection(csrfToken) }}
      <table class="column-quarter">
        <thead>
        <tr>
          <th class="bold-xxsmall">Fee code</th>
          <th class="bold-xxsmall">Fee description</th>
          <th class="bold-xxsmall">Amount</th>
          <th class="bold-xxsmall">Version</th>
          <th class="bold-xxsmall">Status</th>
          <th class="bold-xxsmall">Valid from</th>
          <th class="bold-xxsmall">Valid to</th>
          <th class="bold-xxsmall">Range from</th>
          <th class="bold-xxsmall">Range to</th>
          <th class="bold-xxsmall">Statutory instrument(SI)</th>
          <th class="bold-xxsmall">Applicant type</th>
          <th class="bold-xxsmall">Jurisdiction1</th>
          <th class="bold-xxsmall">Jurisdiction2</th>
          <th class="bold-xxsmall">Service</th>
          <th class="bold-xxsmall">Event</th>
          <th class="bold-xxsmall">Channel</th>
          <th class="bold-xxsmall">Direction</th>
          <th class="bold-xxsmall">Fee type</th>
          <th class="bold-xxsmall">Amount type</th>
          <th class="bold-xxsmall">Last Amending SI</th>
          <th class="bold-xxsmall">Consolidated/Original Fee Order Name</th>
          <th class="bold-xxsmall">Natural account code</th>
          <th class="bold-xxsmall">Memo line</th>
          <th class="bold-xxsmall">SI Ref ID</th>
          <th class="bold-xxsmall">Keyword</th>
        </tr>
        </thead>
        <tbody>
        {% for csvFeeDto in csvFeeDtos %}
        <tr>
          <td class="font-xxsmall">{{ csvFeeDto.feeCode }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.feeDescription }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.feeAmount }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.feeVersion }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.feeStatus }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.validFrom }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.validTo }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.rangeFrom }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.rangeTo }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.statutoryInstrument }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.applicantType }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.jurisdiction1 }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.jurisdiction2 }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.service }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.event }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.channel }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.direction }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.feeType }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.amountType }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.lastAmendingSi }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.consolidatedFeeOrderName }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.naturalAccountCode }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.memoLine }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.siRefId }}</td>
          <td class="font-xxsmall">{{ csvFeeDto.keyword }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

      <p>
        <input type="hidden" name="csvFees" value="{{ resObj }}"/>
        {{ submitButton(t('Save')) }}
      </p>
    </form>
    <p>
      <a href="/admin/v2/upload" class="link-back">{{ t('Back') }}</a>
    </p>
  </div>
</div>


  {% endblock %}
