{% extends "layout.njk" %}

  {% set title = t('jurisdictions 2 | ' + serviceName) %}
  {% set heading = t('jurisdictions 2') %}

  {% block content %}

<div class="column-full">
  <table>
    <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    {% for jurisdiction in jurisdictions %}
    <tr>
      <td>{{ jurisdiction.name }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <p><a href="/admin/welcome/" class="link-back">{{ t("Back to welcome page") }}</a></p>
</div>

  {% endblock %}
