{% extends "layout.njk" %}
  {% from "includes/macros/form.njk" import nextButton%}

  {% set title = t('Pending approval | ' + serviceName + ' | GOV.UK') %}
  {% set currentPage = 'pending-approval' %}

  {% block content %}
  <input type='hidden' id='userRole' value=''/>

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 govuk-!-margin-top-7">{{t("Approvals")}}</h1>
  <h2 class="govuk-heading-l govuk-!-margin-bottom-6 govuk-!-margin-top-7">{{t("Awaiting approval")}}</h2>

{% if (fees | length) > 0 %}
  <table class="custom-table-body">
    <thead>
    <tr>
      <th class="govuk-table__header">Code</th>
      <th class="govuk-table__header">Version</th>
      <th class="govuk-table__header">Service</th>
      <th class="govuk-table__header">Description</th>
      <th class="govuk-table__header">Valid from</th>
      <th class="govuk-table__header"></th>
    </tr>
    </thead>
    <tbody>
    {% for fee in fees %}

    {% if fee.current_version != null %}
    {% set displayedFeeVersion = fee.current_version %}
    {% else %}
    {% set displayedFeeVersion = fee.fee_versions[0] %}
    {% endif %}
    <tr>
      <td > {{ fee.code }} </td>
      <td>{{ displayedFeeVersion.version }}</td>
      <td >{{ fee.service_type.name }}</td>
      <td >{{ displayedFeeVersion.description }}</td>
      <td >{{ displayedFeeVersion.valid_from | date("DD MMMM YYYY") }}</td>
      <td><a href="/admin/V2/fee-details?draft=true&feeCode={{ fee.code }}&pageType=pa&vno={{displayedFeeVersion.version}}">View</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No fees awaiting approval</p>
  {% endif %}


  {% endblock %}
