{% extends "layout.njk" %}
<h1 class="heading-xlarge margin-bottom-0"> Reference Data </h1>
 <div class="column-full">
    <ul class="list list-bullet">
      <li><a href="/admin/v2/applicants">{{ t("Applicants") }}</a></li>
      <li><a href="/admin/v2/jurisdictions1">{{ t("Jurisdictions 1") }}</a></li>
      <li><a href="/admin/v2/jurisdictions2">{{ t("Jurisdictions 2") }}</a></li>
      <li><a href="/admin/v2/services">{{ t("Services") }}</a></li>
      <li><a href="/admin/v2/channels">{{ t("Channels") }}</a></li>
      <li><a href="/admin/v2/events">{{ t("Events") }}</a></li>
      <li><a href="/admin/v2/directions">{{ t("Directions") }}</a></li>
    </ul>
  </div>