{% from "includes/macros/form.njk" import csrfProtection,errorSummary, textArea, submitButton%}
{% extends "layout.njk" %}

{% set title = t('Fee | ' + serviceName) %}
{% set heading = t('Reject Fee ' + fee.code) %}
{% block content %}
<input type='hidden' id='userRole' value=''/>

    <form id="reasonRejectFeesId" method="post">
        {{ csrfProtection(csrfToken) }}
        <label class="govuk-label">State your reason for rejecting this draft fee.</label>
        {{ textArea(t(''), 'reasonForReject', form) }}
        {{ submitButton(t('Submit')) }}
    </form>

{% endblock %} 