{% from "includes/macros/form.njk" import csrfProtection,
errorSummary,
textArea,
textInput,
radioGroup,
submitButton,
selectInline,
selectReferenceData %}
{% extends "layout.njk" %}

{% set title = t('Fee | ' + serviceName) %}
{% block content %}
<h2 class="reject-fee-heading reject-fee-margin">Why are you rejecting this draft fee?</h2>
    <form method="post">
        {{ csrfProtection(csrfToken) }}
        {{ textArea(t(''), 'reasonForReject', form) }}
        {{ submitButton(t('Submit')) }}
    </form>

{% endblock %} 