{% from "includes/macros/form.njk" import submitButton %}
  {% extends "layout.njk" %}

  {% set title = t('Upload fees | ' + serviceName + ' | GOV.UK') %}
  {% set heading = t('Upload Fees') %}
  {% set currentPage = 'upload' %}

  {% block content %}

<div class="grid-row">
  <input type='hidden' id='userRole' value='{{ 'Approver' if isApprover(user.allInfo.roles) else 'Editor' }}'/>
  <div class="column-full">
    <div id="upload-form" class="form-group">
      <form method="post" action="upload?_csrf={{csrfToken}}" enctype="multipart/form-data">
        {% if UPLOAD_ERR %}
        <div class="error-summary" role="group" aria-labelledby="failure-error-summary-heading" tabindex="-1">
          <h2 class="heading-medium error-summary-heading" id="failure-error-summary-heading">
            {{ UPLOAD_ERR_MSG }}
          </h2>
        </div>
        {% endif %}

        <label for="csvupload" class="govuk-label govuk-label--l govuk-!-margin-bottom-6">Upload a CSV file</label>
        <input id="csvupload" class="upload-file" type="file" name="csvdata" accept="text/csv"/>
        
        <p>
          {{ submitButton(t('Next')) }}
        </p>
      </form>
    </div>
    <a href="/admin/V2/all-fees" class="link-back">{{ t('Cancel') }}</a>
  </div>
</div>

  {% endblock %}
