/* Large table data columns */
.font-xxsmall {
  font-family: "nta", Arial, sans-serif;
  font-weight: 300;
  text-transform: none;
  font-size: 13px;
  line-height: 1.14286; }

/* Large table header columns */
.bold-xxsmall {
  font-family: "nta", Arial, sans-serif;
  font-weight: 600;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286; }


.success-summary {
  border: 6px solid #0e64b1;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 8px;
}

@media (min-width: 641px) {
  .form-control {
    font-size: 24px;
    line-height: 1.31579;
    width: 66%;
  }
}

.delete-button:link {
  background-color: #e00;
  position: relative;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  border-radius: 0;
  outline: 1px solid transparent;
  outline-offset: -1px;
  box-shadow: 0 2px 0 darkred;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  cursor: pointer;
  color: white;
  box-sizing: border-box;
  vertical-align: top; }

.delete-button:hover, .delete-button:focus {
  background-color: darkred;
}
