/* Large table data columns */
.font-xxsmall {
  font-family: "nta", Arial, sans-serif;
  font-weight: 300;
  text-transform: none;
  font-size: 13px;
  line-height: 1.14286;
}

/* Large table header columns */
.bold-xxsmall {
  font-family: "nta", Arial, sans-serif;
  font-weight: 600;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
}

.success-summary {
  border: 6px solid #0e64b1;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 8px;
}

@media (min-width: 641px) {
  .form-control {
    font-size: 24px;
    line-height: 1.31579;
    width: 66%;
  }
}

.custom-grid-row {
  margin: 0 -250px;
}

.custom-heading-xlarge {
  margin: 0 -250px;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
  margin-top: 0.46875em;
  margin-bottom: 0.9375em;
}

.custom-button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 0.50;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

.custom-delete-button {
  background-color: red;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 0.50;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: ghostwhite;
  text-transform: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

.custom-header-title {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  color: ghostwhite;
  font-weight: 600;
  position: relative;
  padding-bottom: 2.5%;
}

.custom-draft-all-fees {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  color: ghostwhite;
  font-weight: 600;
  position: relative;
}

.custom-reference-data {
  font-family: "nta", Arial, sans-serif;
  float: right;
  font-size: 16px;
  color: ghostwhite;
  font-weight: 600;
  position: relative;
}

.custom-header-ul {
  margin-top: 0.46875em;
  margin-bottom: 0.9375em;
}
