
{% extends "layout.njk" %}

{% set title = t('Fees | Accessibility Statement') %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <a onClick="history.back()"  class="link-back">Back</a>
        <h1 class="heading-xlarge cookies-xlarge-heading">Accessibility statement for Fee Register</h1><br/>
        <p>This accessibility statement applies to the Fee Register service: <a href="https://fees-register.platform.hmcts.net" target="_blank" rel="noopener">https://fees-register.platform.hmcts.net</a></p>
        <p>This website is run by HM Courts and Tribunals. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 400% without the text spilling off the screen</li>
          <li>navigate most of the website using a keyboard or speech recognition software</li>
          <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
          <li>We've also made the website text as simple as possible to understand.</li>
        </ul>
        <p>Please contact your Line Manager for advice on making your device easier to use if you have a disability.</p>

        <h2 class="heading-medium">How accessible this website is</h2>
        <p>We know some parts of this website are not fully accessible. For example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the text will not reflow in a single column when you change the size of the browser window</li>
          <li>Navigating forms with screen readers: Some interactive elements may not be correctly announced by screen readers.</li>
          <li>Form error messages: If you get an error when filling out a form, clicking the error summary link may not automatically take you to the field that needs fixing.</li>
          <li>Link descriptions: Some links do not clearly describe where they lead unless read alongside the surrounding text.</li>
          <li>Screen layout and zoom: On some pages, you may need to scroll horizontally to read all the content.</li>
          <li>Page titles: Browser tab titles are not always unique or clearly descriptive.</li>
        </ul>

        <h2 class="heading-medium">Reporting accessibility problems with this website</h2>
        <p>We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="mailto:DTS-FeePayServiceDesk@hmcts.net">DTS-FeePayServiceDesk@hmcts.net</a> for guidance to raise any issues.</li>
          <li>Telephone: 0203 989 6060</li>
        </ul>
        <p>If you need information in a different format such as an accessible document, large print, easy read, audio recording or braille, contact us using the details above.</p>
        <p>We will consider your request and get back to you within 10 working days.</p>

        <h2 class="heading-medium">Enforcement procedure</h2>
        <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').</p>
        <p>If you're not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).</p>

        <h2 class="heading-medium">Technical information about this website's accessibility</h2>
        <p>HMCTS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

        <h2 class="heading-medium">Compliance status</h2>
        <p>This service has been tested against the Web Content Accessibility Guidelines (WCAG) version 2.2 AA standard.</p>
        <p>This service is partially compliant with WCAG 2.2 , due to the non compliances listed below.</p>

        <h2 class="heading-medium">Non-accessible content</h2>
        <p>The content listed below is non-accessible for the following reasons.</p>

        <h2 class="heading-medium">Non-compliance with the accessibility regulations</h2>
        <p>Some content requires horizontal scrolling, including at 400% zoom on some pages, which makes it harder for users to read, especially when zoomed in. This failed to meet WCAG Success Criterion 1.4.10 Reflow (Level AA).</p>
        <p>The web page titles are not always unique or do not clearly describe the contents or purpose of the page, which can make it hard for users to know which page they are on or find their way around the site. This failed to meet WCAG Success Criterion 2.4.2 Page Titled (Level A).</p>
        <p>Some links do not provide sufficient context for screen reader users, and some error summary links do not navigate users to the associated form fields, which makes it harder for screen reader users to navigate and fix errors. This failed to meet WCAG Success Criterion 2.4.4 Link Purpose (In Context) (Level A).</p>
        <p>Some controls do not expose the correct accessible name, role or value to assistive technologies, making them difficult for screen reader users to understand and interact with. This includes buttons, radio buttons and date input fields. This failed to meet WCAG Success Criterion 4.1.2 Name, Role, Value (Level A).</p>

        <h2 class="heading-medium">What we're doing to improve accessibility</h2>
        <p>We're committed to ensuring our services are accessible to all our users and that they comply with level AA of the Web Content Accessibility Guidelines. To demonstrate this, we are going to engage with Digital Accessibility Centre to have a further review on December 2026.</p>
        <p>We're actively working to improve the identified issues and make them AA-compliant by 31/03/2027.</p>

        <h2 class="heading-medium">Preparation of this accessibility statement</h2>
        <p>This statement was published on 18/09/26. It was last reviewed on 18/09/26.</p>
        <p>This website was last tested on 24/02/25 against WCAG 2.2 AA standard. The test was carried out by the Internal Accessibility Team within HMCTS. The team tested against a range of assistive technologies and accessibility testing tools.</p>
    </div>
  </main>
</div>
{% endblock content %}
