
{% extends "layout.njk" %}

{% set title = t('Fees | Accessibility Statement') %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <a onClick="history.back()"  class="link-back">Back</a>
        <h1 class="heading-xlarge cookies-xlarge-heading">Accessibility statement for Fee Register</h1><br/>
        <p>This accessibility statement applies to Fee Register: <a href="https://fees-register.platform.hmcts.net" target="_blank" rel="noopener">https://fees-register.platform.hmcts.net</a><br/>
        This website is run by HM Courts and Tribunals. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
        <ul class="govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        <li>We've also made the website text as simple as possible to understand.</li>
        </ul>
        <p>Please contact your Line Manager for advice on making your device easier to use if you have a disability.</p>

        <h2 class="heading-medium">How accessible this website is</h2>
        <p>We know some parts of this website are not fully accessible:</p>
        <ul class="govuk-list--bullet">
        <li>the text will not reflow in a single column when you change the size of the browser window</li>
        <li>some of our online forms are difficult to navigate using just a keyboard</li>
        </ul>

        <h2 class="heading-medium">Reporting accessibility problems with this website</h2>
        <p>We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact: <a href="mailto:DTS-FeePayServiceDesk@hmcts.net">DTS-FeePayServiceDesk@hmcts.net</a> for guidance to raise any issues.</p>

        <h2 class="heading-medium">Enforcement procedure</h2>
        <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').<br/>
        If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank" rel="noopener">contact the Equality Advisory and Support Service (EASS)</a>.</p>

        <h2 class="heading-medium">Technical information about this website's accessibility</h2>
        <p>HMCTS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

        <h2 class="heading-medium">Compliance status</h2>
        <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" target="_blank" rel="noopener">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances, listed below.</p>

        <h2 class="heading-medium">Non-accessible content</h2>
        <p>The content listed below is non-accessible for the following reasons.</p>

        <h2 class="heading-medium">Non-compliance with the accessibility regulations</h2>
        The content flows off the screen when it is zoomed in at 200%, both laptop and mobile users have to scroll horizontally. This failed to meet 1.4.10 Reflow Level AA.<br/>
        The focus is inconsistent and does not navigate to interactive elements with certain browsers (Firefox and safari) although this is not an issue with Chrome. This failed to meet 2.1.2 No Keyboard Trap Level A<br/>
        The web page titles do not describe the contents or purpose of the web page clearly. This failed to meet 2.4.2 Page Titled Level A.<br/>
        The fee list provided is very long and can cause high cognitive overload to find a specific fee. This failed to meet 2.4.5 Multiple Ways Level AA.<br/>

        <h2 class="heading-medium">What we're doing to improve accessibility</h2>
        <p>We're committed to ensuring our services are accessible to all our users and that they comply with level AA of the Web Content Accessibility Guidelines – WCAG 2.2 Standard. To demonstrate this, we are going to engage with Digital Accessibility Centre to have a further review on [TBC]<br/>
        We're actively working to improve the identified issues and make them AA-compliant by 31/05/25.</p>

        <h2 class="heading-medium">Preparation of this accessibility statement</h2>
        <p>This statement was published on 24/04/25.<br/>
        This website was last tested on 24/03/25. The test was carried out by the Internal Accessibility Team within HMCTS. The full service was tested.</p>
    </div>
  </main>
</div>
{% endblock content %}
