{% extends "layout.njk" %}

{% set title = t('Categories | Fees Register Admin Console') %}
{% set heading = t('Categories') %}

{% block content %}

<div class="column-full">
    <table>
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Description</th>
          <th class="numeric" scope="col">Range group code</th>
          <th class="numeric" scope="col">Flat fee count</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr>
            {% if (isFeatureEnabled('edit')) %}
              <td><a href="/admin/categories/edit/{{ category.code }}">{{ category.code }}</a></td>
            {% else %}
              <td>{{ category.code }}</td>
            {% endif %}
            <td>{{ category.description }}</td>
            <td class="numeric"><a href="/admin/ranges-group/{{ category.rangeGroup.code }}">{{ category.rangeGroup.code }}</a></td>
            <td class="numeric">{{ category.fees.length }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if (isFeatureEnabled('edit')) %}
      <p><a href="/admin/categories/create" class="button" role="button">{{ t("Create new category") }}</a></p>
    {% endif %}
    <p><a href="/admin/welcome/" class="link-back">{{ t("Back to welcome page") }}</a></p>
</div>

{% endblock %}
