{% from "includes/macros/form.njk" import errorSummary, textArea, textInput, radioGroup, submitButton %}
{% extends "layout.njk" %}

{% set title = t('Create Category | ' + serviceName) %}
{% set heading = t('Create Category') %}

{% block content %}

  <div class="grid-row">
    <div class="column-full">
      <form method="post" action="create">
        {{ textInput(t('Code'), 'code', form) }}
        {{ submitButton(t('Next')) }}
      </form>

      <a href="/admin/categories" class="link-back">{{ t('Cancel') }}</a>
    </div>
  </div>

{% endblock %}
