{% extends "layout.njk" %}
{% from "includes/macros/task-list.njk" import task, taskListHeading, disabledTask %}

{% set title = t('Category | Fees Register Admin Console') %}
{% set heading = t('Category') %}

{% block content %}

{% macro penniesAsPounds(amount) %}
  {% if amount === 0 %}
    £0 {# special case as (0).toLocaleString() is not working as expected #}
  {% elif amount > 0 %}
    £{{ (amount / 100.0 + 0.00).toLocaleString() }}
  {% endif %}
{% endmacro %}

{% macro feeAmount(fee) %}
  {% if fee.type == 'fixed' %}
    {{ penniesAsPounds(fee.amount) }}
  {% elif fee.type == 'percentage' %}
    {{ fee.percentage }}%
  {% else %}
    Unknown fee type
  {% endif %}
{% endmacro %}

<div class="grid-row">
  <div class="column-full">
    <h3 class="heading-medium">Id</h3>
    {{ category.id }}
    <h3 class="heading-medium">Ranges</h3>
    {% if category.ranges.length > 0 %}
      <table>
        <thead>
          <tr>
            <th scope="col">{{ t('Range') }}</th>
            <th scope="col">{{ t('Amount') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for range in category.ranges %}
            <tr>
              <td>{{ penniesAsPounds(range.start) }} - {{ penniesAsPounds(range.upto) }}</td>
              <td>{{ feeAmount(range.fee) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      No ranges defined
    {% endif %}


    <h3 class="heading-medium">Flat Fees</h3>
    {% if category.flatFees.length > 0 %}
      <table>
        <thead>
          <tr>
            <th scope="col">{{ t('Id') }}</th>
            <th scope="col">{{ t('Description') }}</th>
            <th scope="col">{{ t('Amount') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for flatFee in category.flatFees %}
            <tr>
              <td>{{ flatFee.id }}</td>
              <td>{{ flatFee.description }}</td>
              <td>{{ feeAmount(flatFee) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      No flat fees defined
    {% endif %}

    <p><a class="button" href="/admin/categories" role="button">{{ t("Cancel") }}</a></p>
  </div>
</div>


{% endblock %}
