{% from "includes/macros/fee-amount.njk" import feeAmount %}
{% extends "layout.njk" %}

{% set title = t('Fees | Fees Register Admin Console') %}
{% set heading = t('Fees') %}

{% block content %}

<div class="column-full">
  <h3 class="heading-medium">Fees</h3>
  <table>
    <thead>
      <tr>
        <th scope="col">{{ t('Code') }}</th>
        <th scope="col">{{ t('Description') }}</th>
        <th scope="col">{{ t('Amount') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for fee in fees | sort(attribute='code') %}
        <tr>
          <td><a href="/admin/fees/edit/{{ fee.code }}">{{ fee.code }}</a></td>
          <td>{{ fee.description }}</td>
          <td>{{ feeAmount(fee) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  <p><a href="/admin/fees/create" class="button" role="button">{{ t("Create new fee") }}</a></p>
  <p><a href="/admin/welcome/" class="link-back">{{ t("Back to welcome page") }}</a></p>
</div>

{% endblock %}
