{% from "includes/macros/form.njk" import errorSummary, textArea, textInput, radioGroup, submitButton %}
{% extends "layout.njk" %}

{% set title = t('Fee | Fees Register Admin Console') %}
{% set heading = t('Fee ') + form.model.code %}

{% block content %}

  <div class="grid-row">
    <div class="column-full">
      <form method="post" action="/admin/fees/edit/{{ form.model.code }}">
        <input type="hidden" name="code" value="{{ form.model.code }}"/>
        <input type="hidden" name="type" value="{{ form.model.type }}"/>

        {{ radioGroup(form = form, name = 'type', label = t('Type'), disabled = true, options = [
          { label: t('Fixed'), value: 'fixed' },
          { label: t('Percentage'), value: 'percentage' }
        ]) }}
        {% if form.model.type == 'fixed' %}
          {{ textInput(t('Amount'), 'amount', form) }}
        {% elif form.model.type == 'percentage' %}
          {{ textInput(t('Percentage'), 'percentage', form) }}
        {% endif %}
        {{ textArea(t('Description'), 'description', form) }}
        {{ submitButton(t('Save')) }}
      </form>

      <a href="{{ returnUri }}" class="link-back">{{ t('Cancel') }}</a>
    </div>
  </div>

{% endblock %}
