{% extends "layout.njk" %}

{% set title = t('Not found') %}
{% set heading = t('404 - Page you requested cannot be found.') %}

{% block content %}

<div class="grid-row">
    <div class="column-full">
        <h class="heading-small"></h4>
    </div>
</div>

{% endblock %}
