{% extends "layout.njk" %}

{% set title = t('Range Groups | Fees Register Admin Console') %}
{% set heading = t('Range Groups') %}

{% block content %}

<div class="column-full">
    <table>
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Description</th>
          <th class="numeric" scope="col">Range count</th>
        </tr>
      </thead>
      <tbody>
        {% for rangeGroup in rangeGroups %}
          <tr>
            <td><a href="/admin/range-groups/edit/{{ rangeGroup.code }}">{{ rangeGroup.code }}</a></td>
            <td>{{ rangeGroup.description }}</td>
            <td class="numeric">{{ rangeGroup.ranges.length }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <p><a href="/admin/welcome/" class="link-back">{{ t("Back to welcome page") }}</a></p>
</div>

{% endblock %}
