{% from "includes/macros/fee-amount.njk" import feeAmount, penniesAsPounds %}
{% extends "layout.njk" %}

{% set title = t('Range Group | Fees Register Admin Console') %}
{% set heading = t('Range Group') %}

{% block content %}

  <div class="grid-row">
    <div class="column-full">
      <h3 class="heading-medium">Code</h3>
      {{ rangeGroup.code }}
      <h3 class="heading-medium">Description</h3>
      {{ rangeGroup.description }}
      <h3 class="heading-medium">Ranges</h3>
      <table>
        <thead>
        <tr>
          <th scope="col">{{ t('Range') }}</th>
          <th scope="col">{{ t('Fee Code') }}</th>
          <th scope="col">{{ t('Fee Amount') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for range in rangeGroup.ranges | sort(attribute='from') %}
          <tr>
            <td>{{ penniesAsPounds(range.from) }} - {{ penniesAsPounds(range.to) }}</td>
            <td><a
              href="/admin/fees/edit/{{ range.fee.code }}?returnUri=/admin/range-groups/edit/{{ rangeGroup.code }}">{{ range.fee.code }}</a>
            </td>
            <td>{{ feeAmount(range.fee) }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <p><a href="/admin/range-groups/" class="link-back">{{ t("Back to range group list") }}</a></p>
    </div>
  </div>


{% endblock %}
