{% extends "layout.njk" %}

  {% set title = t('Welcome | ' + serviceName) %}
  {% set heading = t('Welcome') %}

  {% from "includes/macros/form.njk" import submitButton %}

  {% block content %}

<div class="grid-row">

  <div class="column-full">
    <h4 class="heading-small">Choose an action</h4>
    <ul class="list list-bullet">

      {% if isEditor(user.allInfo.roles) or isAdmin(user.allInfo.roles) %}
      <li><a href="/admin/v2/fees/create">{{ t("Add a new fee") }}</a></li>
      <li><a href="/admin/v2/upload">{{ t("Upload fees") }}</a></li>
      {% endif %}
      <li><a href="/admin/v2/all-fees">{{ t("View all fees") }}</a></li>
      <li><a href="/admin/v2/discontinued-fees">{{ t("View all discontinued fees") }}</a></li>
      <li><a href="/admin/v2/dashboard">{{ t("My open actions") }}</a></li>

    </ul>
  </div>

  <!-- div class="column-full">
      <h4 class="heading-small">Legacy Register: Choose an action</h4>
      <ul class="list list-bullet">
        {% if (isFeatureEnabled('edit')) %}
          <li><a href="/admin/categories" style="font-size: 1.5em">{{ t("Edit categories") }}</a></li>
          <li><a href="/admin/range-groups">{{ t("Edit range groups") }}</a></li>
          <li><a href="/admin/fees">{{ t("Edit fees") }}</a></li>
        {% else %}
          <li><a href="/admin/categories" style="font-size: 1.5em">{{ t("Categories") }}</a></li>
          <li><a href="/admin/range-groups">{{ t("Range groups") }}</a></li>
          <li><a href="/admin/fees">{{ t("Fees") }}</a></li>
        {% endif %}
          <li><a href="/admin/all-fees">{{ t("All fees") }}</a></li>
      </ul>
  </div-->

</div>

<h1 class="heading-xlarge margin-bottom-0"> Reference Data </h1>
 <div class="column-full">
    <ul class="list list-bullet">
      <li><a href="/admin/v2/applicants">{{ t("Applicants") }}</a></li>

      <details class="govuk-details" role="group" open="">
        <summary class="govuk-details__summary" role="button" aria-controls="details-content-9cefd7ee-6e10-4b10-bef6-1c953c3381ae" aria-expanded="true">
            <span class="govuk-details__summary-text">
                Applicants
            </span>
        </summary>
        <div class="govuk-details__text" id="details-content-9cefd7ee-6e10-4b10-bef6-1c953c3381ae" aria-hidden="false">
            <li>personal</li>
            <li>all</li>
            <li>professional</li>
        </div>
        </details>

      <li><a href="/admin/v2/jurisdictions1">{{ t("Jurisdictions 1") }}</a></li>
      <li><a href="/admin/v2/jurisdictions2">{{ t("Jurisdictions 2") }}</a></li>
      <li><a href="/admin/v2/services">{{ t("Services") }}</a></li>
      <li><a href="/admin/v2/channels">{{ t("Channels") }}</a></li>
      <li><a href="/admin/v2/events">{{ t("Events") }}</a></li>
      <li><a href="/admin/v2/directions">{{ t("Directions") }}</a></li>
      <div class="column-full">
  
  <ul>
  {% for event in events %}
  <li>{{ event.name }}</li>
  {% endfor %}
  </ul>
  
  <table>
    <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    {% for direction in directions %}
    <tr>
      <td>{{ direction.name }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
    </ul>
  </div>


  {% endblock %}
