{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "/admin/cookies-details",
        text: "Cookies"
      },
      {
        href: "/admin/cookies",
        text: "Cookie Preferences"
      },
      {
        href: "https://hmcts-access.service.gov.uk/accessibility-statement",
        text: "Accessibility statement"
      },
      {
        href: "https://hmcts-access.service.gov.uk/privacy-policy",
        text: "Privacy policy"
      },
      {
        href: "https://hmcts-access.service.gov.uk/terms-and-conditions",
        text: "Terms and conditions"
      },
      {
        href: "https://hmcts-access.service.gov.uk/contact-us",
        text: "Contact us"
      }
    ]
  }
}) }}