<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <span id="proposition-name">{% if serviceName %} {{ t(serviceName) }} {% endif %}</span>
      <ul class="custom-logout">
        {% if isLoggedIn %}
        <li> 
        <p>{{ user.allInfo.forename }} {{ user.allInfo.surname }} </p>
        <a href="/logout">{{ t('Sign out') }}</a>
        </li>
        {% endif %}
      </ul>
      <ul id="reference-data" class="custom-header-ul">
        <a href="/reference-data" class="custom-reference-data" style="color: ghostwhite">{{ t('Reference Data') }} </a>
      </ul>
    </nav>
  </div>
</div>