<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav class="custom-proposition-menu">
      <ul class="custom-logout">
        {% if isLoggedIn %}
        <div class="user.ts">
        <p class="username-log">{{ user.allInfo.forename }} {{ user.allInfo.surname }}</p>
        <a tabindex="1" href="/logout" class="custom-signout-link">{{ t('Sign out') }}</a>
        {% endif %}
        </div>
      </ul>
      <a tabindex="2" href="/admin/V2/reference-data" class="custom-reference-data">{{ t('Reference Data') }} </a>
    </nav>
  </div>
</div>
